﻿<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikleriniz</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Traversal Rezervasyon Web uygulamasının kullanıcı Dashboard panelinde bulunmaktasınız. 
                    Aşağıda sizin ve acentamızın bazı istatistik bilgileri yer almaktadır. 
                    Bu istatistiklerin sizlerle beraber artmasını temenni ediyoruz. 
                    Gezi dolu daha nice günde buluşmak dileğiyle.</p>
                <h4 class="card-title"><hr /></h4>
                <h6>Aktif Rezervasyon Sayınız: @ViewBag.aktifRezv</h6>
                <h6>Geçmiş Rezervasyon Sayınız: @ViewBag.geçmişRezv</h6>
                <h6>Onay Bekleyen Rezervasyon Sayınız: @ViewBag.onayBekleyenRezv</h6>
                <h6>Toplam Yorum Sayınız: @ViewBag.totalComment</h6>
                <h6>Toplam Bildirim Sayınız: @ViewBag.notificationComment</h6>
                <h6>Toplam Rota Sayısı: @ViewBag.totalTour</h6>
                <h6>Rehber Sayımız: @ViewBag.totalGuide</h6>
                <h6>Toplam Misafir Sayımız: @ViewBag.totalMember</h6>
            </div>
        </div>
    </div>
</div>