@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<h1>Kullanıcı Listesi</h1>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Kullanıcı Adı</th>
        <th>Mail</th>
        <th>Düzenle</th>
        <th>Sil</th>
        <th>Yorumlar</th>
        <th>Tur Geçmişi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @{
                sayac = sayac + 1;
            }
            <td>@sayac</td>
            <td>@item.Name @item.Surname</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td><a href="/admin/user/edituser/@item.Id" class="btn btn-outline-success">Düzenle</a></td>
            <td><a href="/admin/user/deleteuser/@item.Id" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/admin/user/commentuser/@item.Id" class="btn btn-outline-info">Yorumlar</a></td>
            <td><a href="/admin/user/reservationuser/@item.Id" class="btn btn-outline-secondary">Tur Geçmişi</a></td>
        </tr>
    }
</table>

<a href="/login/signup/" class="btn btn-outline-primary">Yeni Kullanıcı Oluştur</a>

