@model List<Reservation>
@{
    ViewData["Title"] = "ReservationUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<h1>Kullanıcının Geçmiş Rezervasyonları</h1>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Misafir Ad Soyad</th>
        <th>Rota</th>
        <th>Kişi Sayısı</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @{
                sayac = sayac + 1;
            }
            <td>@sayac</td>
            <td>@item.AppUser.Name @item.AppUser.Surname</td>
            <td>@item.Destination.City</td>
            <td>@item.PersonCount</td>
            <td>@(((DateTime)item.ReservationDate).ToString("dd-MMM-yyyy"))</td>
            <td><a href="#" class="btn btn-outline-primary">Detaylar</a></td>
        </tr>
    }
</table>

